<section>
    <div class="container"> 
      <div class="row mbr-justify-content-center"> 
        <h3>Perfil</h3> 
        
        <p class="px-6 pb-1 has-text-white has-text-left" data-v-df27d444=""><a href="#" class="mt-2 mr-4" data-v-df27d444="">
        Referral link:&nbsp;<span data-v-df27d444="">https://fifa-gold.com/register/62adcdc6357365e91874a433</span></a><button class="button is-small is-success" data-v-df27d444=""> Copy </button>
        </p>
        
        <p class="px-6 py-4 has-text-white has-text-left has-text-weight-bold" data-v-df27d444=""> Balance: $232.154704048386</p>

        <h3>Referencias</h3> 
        <p>Referrals (level 1): 3</p>
        <p>Referrals (level 2): 0</p>
        <p>Referrals (level 3): 0</p>

        <button type="button" class="btn btn-primary btn-block mb-4">
            Retirar
        </button>

      </div>
    </div>
</section>