h3 { 
    text-align: center;
}

h5 { 
    font-size: .875rem!important; 
    text-align: center;
}

img { 
    height: 40px;
    min-width: 48px;
    width: 40px;
 
}
 
.columna-img-center {  
    display: flex;
    justify-content: center;
    align-items: center;
}

.columna-img-tamaño { 
    width: 120px;
    height: 85px;
}

 
.columna-txt { 
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
p  { 
    margin-top:revert;
}

element.style {
    height: 2px;
    left: 0px;
    width: 97px;
}
 
.v-tabs-slider-wrapper {
    bottom: 0;
    margin: 0 !important;
    position: absolute;
    -webkit-transition: .3s cubic-bezier(0.25, 0.8, 0.5, 1);
    transition: .3scubic-bezier(0.25, 0.8, 0.5, 1);
    z-index: 1;
}