<section>
  <div class="container">

    <div class="row mbr-justify-content-center">
      <h3>Lista de enfrentamientos</h3>

      <ul class="nav">
        <li class="nav-item">
          <div class="layout text-center justify-center align-center column">
            <div><i aria-hidden="true"
                class="v-icon notranslate text-current-color v-icon--left mdi mdi-calendar theme--dark"
                style="font-size: 10px;"></i>lunes </div>
            <div>07-04 (37)</div>
          </div>
        </li>
        <li class="nav-item">
          <div class="layout text-center justify-center align-center column">
            <div><i aria-hidden="true"
                class="v-icon notranslate text-current-color v-icon--left mdi mdi-calendar theme--dark"
                style="font-size: 10px;"></i>Martes </div>
            <div>08-04 (37)</div>
          </div>
        </li>
        <li class="nav-item">
          <div class="layout text-center justify-center align-center column">
            <div><i aria-hidden="true"
                class="v-icon notranslate text-current-color v-icon--left mdi mdi-calendar theme--dark"
                style="font-size: 10px;"></i>Miercoles </div>
            <div>09-04 (37)</div>
          </div>
        </li>
      </ul>
      <!-- agregando container para la lista de partidos-->
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <!-- card example 1*-->
            <div class="card" style="width: 25rem;">
              <div class="card-body">
                <h5 class="card-title"> 【China Super League de la Asociación de Fútbol】 </h5>
                <!-- card imagen de test -->
                <div class="row justify-content-md-center">
                  <div class="col-md-4 ">
                    <div class="text-center">
                      <div class="text-center col-md-4 columna-img-center columna-img-tamaño">
                        <img
                          src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/FC_Barcelona_2002.png/190px-FC_Barcelona_2002.png"
                          alt="...">
                      </div>
                      <div class="text-center col-md-4 columna-txt">
                        <p>Fútbol femenino de Qingzhou FC</p>
                      </div>

                    </div>
                  </div>

                  <div class="col-md-2 columna-img-center">
                    <div class="text-center ">
                      <img
                        src="https://png.pngtree.com/png-clipart/20190828/ourlarge/pngtree-versus-vs-letters-fight-text-with-comic-fighting-cartoon-style-for-png-image_1701514.jpg"
                        alt="...">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="text-center">
                      <div class="text-center col-md-4 columna-img-center columna-img-tamaño">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/FPF.svg" alt="...">
                      </div>
                      <div class="text-center col-md-4 columna-txt">
                        <p>Fútbol femenino de Peru FC</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-10">
                    <div class="text-center">
                      <p> 2022-07-04 23:00 </p> 
                    </div>
                  </div>

                </div> 
              </div>
            </div>
            <!--end-->
          </div>
          <div class="col-sm">
            <!-- card example 1*-->
            <div class="card" style="width: 25rem;">
              <div class="card-body">
                <h5 class="card-title"> 【China Super League de la Asociación de Fútbol】 </h5>
                <!-- card imagen de test -->
                <div class="row justify-content-md-center">
                  <div class="col-md-4 ">
                    <div class="text-center">
                      <div class="text-center col-md-4 columna-img-center columna-img-tamaño">
                        <img
                          src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/FC_Barcelona_2002.png/190px-FC_Barcelona_2002.png"
                          alt="...">
                      </div>
                      <div class="text-center col-md-4 columna-txt">
                        <p>Fútbol femenino de Qingzhou FC</p>
                      </div>

                    </div>
                  </div>

                  <div class="col-md-2 columna-img-center">
                    <div class="text-center ">
                      <img
                        src="https://png.pngtree.com/png-clipart/20190828/ourlarge/pngtree-versus-vs-letters-fight-text-with-comic-fighting-cartoon-style-for-png-image_1701514.jpg"
                        alt="...">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="text-center">
                      <div class="text-center col-md-4 columna-img-center columna-img-tamaño">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/FPF.svg" alt="...">
                      </div>
                      <div class="text-center col-md-4 columna-txt">
                        <p>Fútbol femenino de Peru FC</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-10">
                    <div class="text-center">
                      <p> 2022-07-04 23:00 </p> 
                    </div>
                  </div>

                </div> 
              </div>
            </div>
            <!--end-->
          </div>
          <div class="col-sm">
            <!-- card example 1*-->
            <div class="card" style="width: 25rem;">
              <div class="card-body">
                <h5 class="card-title"> 【China Super League de la Asociación de Fútbol】 </h5>
                <!-- card imagen de test -->
                <div class="row justify-content-md-center">
                  <div class="col-md-4 ">
                    <div class="text-center">
                      <div class="text-center col-md-4 columna-img-center columna-img-tamaño">
                        <img
                          src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/FC_Barcelona_2002.png/190px-FC_Barcelona_2002.png"
                          alt="...">
                      </div>
                      <div class="text-center col-md-4 columna-txt">
                        <p>Fútbol femenino de Qingzhou FC</p>
                      </div>

                    </div>
                  </div>

                  <div class="col-md-2 columna-img-center">
                    <div class="text-center ">
                      <img
                        src="https://png.pngtree.com/png-clipart/20190828/ourlarge/pngtree-versus-vs-letters-fight-text-with-comic-fighting-cartoon-style-for-png-image_1701514.jpg"
                        alt="...">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="text-center">
                      <div class="text-center col-md-4 columna-img-center columna-img-tamaño">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/FPF.svg" alt="...">
                      </div>
                      <div class="text-center col-md-4 columna-txt">
                        <p>Fútbol femenino de Peru FC</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-10">
                    <div class="text-center">
                      <p> 2022-07-04 23:00 </p> 
                    </div>
                  </div>

                </div> 
              </div>
            </div>
            <!--end-->
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
